<!DOCTYPE html>
html
	head
		meta(charset="UTF-8")
		title Password Generator

		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		link(rel="icon", href="./favicon.ico")

		//- === === === === ===
		//- SEO
		//- === === === === ===

		meta(name="description", lang="en", content="Password Generator")
		meta(name="description", lang="ru", content="Генератор паролей")
		meta(property="og:title", content="Password Generator")
		meta(property="og:image", content="https://pwgen.site/img/poster.jpg")

		//- === === === === ===
		//- Fonts
		//- === === === === ===

		link(rel="stylesheet", href="fonts/Montserrat/stylesheet.css")

	body
		#app